{% extends 'parent.html' %}

{% load bulma_tags %}

{% block content %}
<div class="container level-item has-text-centered">
  <div class="notification">
    <form method="post">
        {% csrf_token %}
        {{ form|bulma }}
        <div>
            <button class="button is-info is-hovered" type="submit" value="Submit">Login</button>
        </div>
        <br />
        <div>
            <a class="button is-warning is-hovered" href="{% url "social:begin" "eventbrite" %}">Login with Eventbrite</a>
        </div>
    </div>
    </form>
  </div>
</div>
    
{% endblock %}

